
.conteudoCentral{ /* Div principal da section (quadrado) */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    width: 70vw;
    height: 90vh;
    border-radius: 15px;
    box-shadow: inset 0 0 1em white, 0 0 1em #D3D3D3;
}

.titu h1{ /* Texto principal da section */
    color: #f16984;
    font-size: 30px;
    margin-left: -11em;
}
hr{
    width: 68vw;
    margin-left: -22em;
}

/* ------- Edição do campo de informações ----------- */
#info{ /* Div que contém todo o formulário */
    width: 50%;
    float: left;
    position: relative;
    left: 50px;
    /* top: -500px; */
 }
 /* ----- Edição dos inputs do campo de inserção ----- */
 #form1{
     display: flex;
     justify-content: center;
     width: 40vw;
     color: #f16984;
     font-weight: bold;
     flex-direction: column;
     margin-left: 225px;
 }
 input[type=text] {
    max-width: 25vw;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.0625em solid #808080;
    background: rgba(0,0,0,0);
 }
 #box-form{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 55vh;
     width: 55vw;
     margin-left: -200px;
 }
 
 .nomeUser{
     border-radius: 8px;
     border: 1px solid 	#C0C0C0;
     box-shadow: 10px 5px 5px #DCDCDC;  
     width: 20vw;  
     margin-top: -50px;
 }
 
 .emailUser{
     border-radius: 8px;
     border: 1px solid 	#C0C0C0;
     box-shadow: 10px 5px 5px #DCDCDC;  
     width: 20vw;  
     margin-top: -50px;
 }
 
 .cEmailUser{
     border-radius: 8px;
     border: 1px solid 	#C0C0C0;
     box-shadow: 10px 5px 5px #DCDCDC;  
     width: 20vw;  
     margin-top: -50px;
 }
 /*---- Fim do campo de inserção ------ */
 
 /* ------- Edição do campo de altração de e-mail div: Form2------ */
 
 #alterEmail{ /* -- Edição da Label - campo de identificação --- */
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     width: 50%;
     color: #f16984;
     font-weight: bold;
 }
 
 /* -- Edição da Label - campo de identificação --- */
 
 .confSenha{
    border-radius: 8px;
    border: 1px solid 	#C0C0C0;
    box-shadow: 10px 5px 5px #DCDCDC;  
    width: 20vw;  
    margin-top: -50px;
 }
 /* ------ Fim da edição do campo de alteração de e-mail ----- */
 
 /* ------ Edição do botão atualizar ------- */
 .btnFinal{
     border-radius: 15px;
     margin-left: 60px;
     background-color: #f16984;
     border-color: #f16984;
     color: white;
     font-weight: bold;
     width: 90px;
     height: 30px;
 }
 
 .botaofinal{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-top: 30px;
 }
 
 .btnFinal p{
     display: flex;
     justify-content: center;
     align-content: center;
     margin: auto;
 }
 