@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

/*<!--Barra de acessibilidade-->*/

.menu {
    z-index: 99;
    width: 100%;
    position: fixed;
}

#barra_acessibilidade {
    background: #1d2671;
    height: 5vh;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}


#barra_acessibilidade ul {
    list-style: none;
    display: flex;
    font-size: 0.9375em;
    margin-right: 1em;
    margin-top: 1em;
}

#barra_acessibilidade a:hover {
    color: rgb(0, 183, 255);
}

.barra_conteudo li {
    margin: 0 0.4375em;
}

.barra_conteudo a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0.25em;
}

.barra_conteudo li:nth-child(2) {
    border-left: 0.125em solid white;
    border-right: .125em solid white;
}

.barra_conteudo li:nth-child(3) {
    border-left: .125em solid white;
    border-right: .125em solid white;
    font-size: 1.0625em;
}
/*<!--Fim barra de acessibilidade-->*/

/*-------------------- Cabeçalho superior---------------------*/
/*------------------------Perfil Usuário----------------------*/
#menu_base1{
    height: 12.5vh;
    background: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: .5em;   
}

.logo1 img{
    width: 100vw;
    max-width: 11.5em;
    margin-right: 3em;
    margin-left: 3em;
    margin-top: .3em;
}

.BarraPesquisa1{
    align-items: center;
    display: flex;
    margin-right: 3em;
    margin-top: .3em;
}

#buscar1{
    border:solid 0.0625em;
    border-radius: 0.5em;
    width: 30vw;
    height: 6.5vh;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#buscar1 img{
    height: 4.5vh;
    display: flex;
    align-items: center;
    position: absolute;
    left: 23em;  
}

.buscar1{
    width: 23vw;
    height: 5vh;
    border: none;
    justify-content: left;
    display: flex;
    margin-left: 2em;
    font-size: 1.3em;
}

.barramenu1 ul{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-top: 1.5em;
}

.barramenu1 li{
    margin: auto 2.1em auto auto;
}

.barramenu1 a:hover{
    text-decoration: white;
    text-decoration-line: underline;
}

.minhaconta1{
    background: #f16984;
    padding: 1em;
    border-radius: 0.9375em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
}

.sair1{
    text-transform: uppercase;
    color: #f16984;
}


/*----------------------Corpo lado esquerdo--------------------*/
/*-------------------------Perfil Padrão-----------------------*/
#perfilmain{
    position: relative;
    display: flex;
    width: 98.3vw;
    justify-content: left;
    top: 7.5em;
}

#menu_lateral_esquerdo {
    border: 1px solid #ccc;
    width: 25vw;
}

#lateral_direita {
    width: 75vw;
}

.perfil {
    max-width: 16vw;
    position: relative;
    margin: .5em auto;
    justify-content: center;
}

.perfil:hover .texto {
    opacity:1;
}

.perfil h2 {
    width: 10em;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 10em;
}

.perfil a {
    color: white;
    text-decoration: none;
}

.perfil a:hover {
    text-decoration-line: underline;
    text-decoration-color: white;
}


.nome_usuario{
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto;
    padding: .5em;
    background-color: #1d2571b6;
    border: rgba(66, 62, 62, 0.548);
    border-radius: 2em;
}

.nome_usuario p {
    margin: auto;
    color: white;
}

.tabulatura {
    background-color: #f16984; 
    text-transform: uppercase;
    font-size: 1em;
    color: white;
    font-weight: bold;
}

#menu_lateral_esquerdo li{
    padding: 1.13em 0;
    text-align: center;
    border: 1px solid #ccc;  
}

#menu_lateral_esquerdo li a{
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1.9em 4.9em;
}

#menu_lateral_esquerdo li:hover{
    background-color: #f16984; 
}

#menu_lateral_esquerdo li a:hover{
    color: white;
    text-decoration-line: underline;
    text-decoration-color: white;
}

.topo_direito{
    max-width: 100vw;
    height: 4.4em;
    background-color: #1d2571d7;
    display: flex;
    align-items: center;
}

.topo_direito h1{
    color: white;
    text-transform: uppercase;
    text-decoration: white;
    text-decoration: underline;
    font-weight: bolder;
    margin: 0 auto;
    font-size: 2em;
    font-family: url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
}

/*--------------------Corpo lado Direito----------------------*/
/*--------------------------Pedidos---------------------------*/

.canto_direito{
    width: 100vw;
    max-width: 75.3vw;
    height: 100vh;
}

.canto_direito li{
    border-bottom: 1px solid #ccc;
    max-width: 75.5vw;
    padding: .93em;
    list-style: inside;
}

.canto_direito a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}

.canto_direito li:hover {
    background-color: #f16984;
    list-style-type: square;
    color: white;
}

.canto_direito li:hover a{
    color: white;
    text-decoration: white;
    text-decoration-line: underline;
}


@media screen and (max-width: 376px){
/*Perfil Usario notificaçao*/
.logo1 {
    display: none;
}

.buscar1 {
    width: 25vw;
}

#buscar1 {
    width: 78vw;
}

.perfil {
    width: 100vw;
    justify-content: center;
} 

.perfil img {
    max-width: 27.7vw;
}

.nome_usuario {
    font-size: 0.8em;
}

.texto {
 display: none;   
}/*fim Perfil Usuario Notificação*/
}