.hrHome{
    width: 100vw;
}
.footerHome {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.texto_rodape {
    font-size: 1em;
    font-style: italic;
}
.logo_thw {
    align-items: center;
    width: 95vw;
    max-width: 10vw;
    margin-right: 1em;
    display: flex;
    justify-content: center;
}